
/*============Heading Styling===========*/

h1 {
    font-family: Shadows Into Light, cursive;
  }

  body {
    margin: 0 auto;

  }

  main {
      margin: 0 auto;
      background: #80d2e957;
      max-width: 1000px;
      padding: 50px;
      border-radius: 20px;
      font-family: Montserrat, san-serif;
  }

  p {
      font-size: 18px;
      line-height: 1.5;
      color: #03243f;
  }

  h2,
  h3 {
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 40px;
    color: #F26F69;
    letter-spacing: 3px;
  }


  ul {
    font-size: 18px;
    line-height: 1.5;
    color: #03243f;
  }

  .info-character img {
      float: left;
      border-radius: 20px;
      margin: 20px;
  }
