
/*============Universal Styling===========*/

*{
  margin: 0 auto;
}

h1 {
    font-family: Shadows Into Light, cursive;
  }


  h2,
  h3 {
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 40px;
    color: #F26F69;
    letter-spacing: 3px;
    padding: 20px;
  }

  main {
    margin: 0 auto;
    background: #d0f5ff;
    max-width: 1025px;
    padding: 50px;
    border-radius: 20px;
    font-family: Montserrat, san-serif;
}

  p {
      font-size: 18px;
      line-height: 1.75;
      color: #03243f;
  }


  ul, ol {
    font-size: 18px;
    line-height: 1.5;
    color: #03243f;
  }

  body {
      background: #177088cc;
  }

  /*============Header/Navigation Styling===========*/

  .nav {
      background: #fff2bd;
      padding: 30px;
      margin: 20px;
      border-radius: 20px;
  }

  .nav img {
    position: relative;
    bottom: 110px;
    left: 24px;
}

  header nav ul li {
    margin: 20px;
    padding: 48px;
    border-radius: 20px;
    color: #f26f69;
    display: inline;
    position: relative;
    left: 460px;
    top: -33px;
    font-size: 30px;
}

header a {
    font-family: 'Shadows Into Light', sans-serif;
    text-decoration: none;
    color: #f26f69;
    font-size: 30px;
}

header a:hover {
    color: #0b77be;
    transition: 0.5s;
}

header h1 {
    color: #f26f69;
    text-align: left;
    font-size: 45px;
    position: relative;
    top: 20px;
}

  /*============Home Page===========*/

 img {
    float: right;
}

.call-to-action h2 {
    text-align: center;
    font-size: 90px;
    letter-spacing: 10px;
}

.home-updates {
    background: #fff2bd;
    padding: 20px;
    margin: 30px;
    border-radius: 25px;
}

.home-updates h2 {
    text-align: center;
    font-size: 50px;
    letter-spacing: 10px;
}


  /*============About Page===========*/

  img {
    border-radius: 20px;
    margin: 20px;
  }

  .info-character img {
      float: left;
  }

  .info-island img {
    float: right;
  }

  .info-villagers img {
    float: right;
}

.info-npcs img {
    float: right;
}

.info-wildlife img {
    float: left;
}

  /*============Gameplay Page===========*/

iframe {
    position: relative;
    left: 235px;
}

.fishing img {
    float: right;
}

.bugs img {
    float: right;
}

.intro-gameplay img {
    float: left
}

  /*============Community Page===========*/

.comm-intro img {
    float: left;
}

.blog {
    background: #fff2bd;
    padding: 20px;
    margin: 30px;
    border-radius: 25px;
    max-width: 450px;
}

.blog h2 {
    text-align: left;
    font-size: 50px;
    letter-spacing: 10px;
}

.blog a {
    font-family: 'Shadows Into Light';
    font-size: 30px;
    text-decoration: none;
    color: #0b77be;
}

.blog img {
    position: absolute;
    left: 805px;
    bottom: -220px;
}
